table {
    height: 100%;
    width: 100%;
}

td {
    font-size: small;
    padding: 20px;
}

#submit {
    height: 20px;
}
td.tdBorder{
    border: 2px solid red;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

#bottom {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#tableHere {
    height: 80%;
    width: 100%;
}

#tableBtn{
    flex: 3;
}

#scores {
    flex: 1;
    text-align: center;
    height: 80%;
}

p {
    flex: 1;
    margin: 10px;
    text-align: center;
}

td.correct 
{

}
