section {
    width: 100%;
}

.bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(192, 192, 192);
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    margin: 5px;
    border-radius: 25px;
    height: 50px;
}

#squares {
    display: flex;
}

label {
    white-space: nowrap;
    padding-bottom: 10px;
}

input {
    width: 95%;
    height: 10px;
}

select {
    width: 100%;
}

h3 {
    height: 0px;
}

button {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

table.cheatcodeOff div
{
    display:none;
}

input:invalid {
    border: 2px solid red;
}
