.scores {
    text-align: center;
}

#clearScores {
    display: none;
    font-size: 11px;
    max-width: 70px;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 30px;
}

#highscoreHeader {
    margin-bottom: 30px;
}

#columnHeaders {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

#tableScores td {
    padding: 5px;
}