html {
    font-family: monaco, monospace;
    width: 99%;
    justify-content: center;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    height: 80px;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 255, 186);
}

h1, h2, footer {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 186);
}